.Testimonials{
    position: relative;
    margin: 0px auto;
}
.bckBtn, .frntBtn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: darkblue;
    z-index: 9;
}
.bckBtn{
    right: auto;
    left: 230px;
    
}
img.frntBtn {
    right: 230px;
}
.slider {
    overflow: hidden;
}

.slider ul {
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.9s;
}

.slider ul li {
    list-style: none;
    width: 50%;
    padding: 10px;
}

.sliide {
    box-shadow: 0 0 11px 0px #ccc;
    border-radius: 10px;
    padding: 20px 30px;
}

.userInfo {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}

.userInfo img {
    width: 80px;
    border-radius: 80px;
    border: 3px solid darkblue;
    margin: 0 20px 0 0;
}

.userInfo h3{
    color: darkblue;
}

.slider p {
    font-size: 16px;
}